<div class="card">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Recent Orders</span>
      <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span>
    </h3>
    <div class="card-toolbar">
      <button
        type="button"
        class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="top-end"
      >
        <app-keenicon name="category" class="fs-2"></app-keenicon>
      </button>
    </div>
  </div>
  <div class="card-body py-3">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
        <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-100px">Name</th>
          <th class="min-w-100px">Vrsta</th>
          <th class="min-w-50px">Info</th>
          <th class="min-w-100px">Ugovoreno</th>
          <th class="min-w-100px">Aktivnost</th>
          <th class="min-w-100px">Odboreno</th>
          <th class="min-w-100px">Iskoristeno</th>
          <th class="min-w-100px">Ponuditi</th>
          <th class="min-w-100px">Napomena</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through jsonData -->
<!--        <tr v-for="item in jsonData" :key="item.id">-->
<!--          <td>-->
<!--            <div class="form-check form-check-sm form-check-custom form-check-solid">-->
<!--              <input class="form-check-input widget-13-check" type="checkbox" value="1" />-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>{{ item.id }}</td>-->
<!--          <td>{{ item.value.name }}</td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.ime }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.info }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.ugovoreno }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.aktivnost }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.odboreno }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.iskoristeno }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.ponuditi }}-->
<!--          </td>-->
<!--          <td v-for="vrsta in item.value.vrsta">-->
<!--            {{ vrsta.napomena }}-->
<!--          </td>-->
<!--          <td class="text-end">-->
<!--            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">-->
<!--              <app-keenicon name="switch" class="fs-3"></app-keenicon>-->
<!--            </a>-->
<!--            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">-->
<!--              <app-keenicon name="pencil" class="fs-3"></app-keenicon>-->
<!--            </a>-->
<!--            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">-->
<!--              <app-keenicon name="trash" class="fs-3"></app-keenicon>-->
<!--            </a>-->
<!--          </td>-->
<!--        </tr>-->
        <ng-container *ngFor="let item of jsonData; let i = index">
          <ng-container *ngFor="let vrsta of item.value.vrsta; let j = index">
            <tr>
              <td *ngIf="j === 0" [attr.rowspan]="item.value.vrsta.length">{{ item.value.name }}</td>
              <td class="text-start p-4">{{ vrsta.ime }}</td>
              <td class="text-center p-4">
                <ng-container *ngIf="hoveredRow === i && hoveredVrsta === j; else iconContent">
                  {{ vrsta.info }}
                </ng-container>
                <ng-template #iconContent>
                  <app-keenicon
                    name="minus"
                    class="fs-3"
                    (mouseover)="showInfo(i, j)"
                    (mouseleave)="hideInfo()"
                  ></app-keenicon>
                </ng-template>
<!--                <app-keenicon name="minus" class="fs-3"></app-keenicon>-->
              </td>

              <td>{{ vrsta.ugovoreno }}</td>
              <td>{{ vrsta.aktivnost }}</td>
              <td>{{ vrsta.odboreno }}</td>
              <td>{{ vrsta.iskoristeno }}</td>
              <td>{{ vrsta.ponuditi }}</td>
              <td>{{ vrsta.napomena }}</td>
            </tr>
          </ng-container>
        </ng-container>

        <!-- End of loop -->
        </tbody>
      </table>
    </div>
  </div>
</div>
