<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Adresa boravišta</h3>
    </div>
  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Država</label>
          <span class="fw-bolder fs-6 text-dark">Bosna i Hercegovina</span>
      </div>
      <div class="col-6">
        <label class="col-3  fw-bold text-muted">Grad</label>
          <span class="fw-bolder fs-6 text-dark">Mostar</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">PTT broj</label>
        <span class="fw-bolder fs-6 text-dark">88000</span>
      </div>
      <div class="col-6">
        <label class="col-3  fw-bold text-muted">Županije/Kanton</label>
        <span class="fw-bolder fs-6 text-dark">7</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Ulica</label>
        <span class="fw-bolder fs-6 text-dark">Omladinska</span>
      </div>
      <div class="col-6">
        <label class="col-3  fw-bold text-muted">Broj</label>
        <span class="fw-bolder fs-6 text-dark">13</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Opis lokacije</label>
        <span class="fw-bolder fs-6 text-dark">Žuta kuća , kraj pošte</span>
      </div>
      <div class="col-6">
        <label class="col-3  fw-bold text-muted">Dostavljena potvrda adrese</label>
        <span class="fw-bolder fs-6 text-dark">DA</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">OPU potvdre</label>
        <span class="fw-bolder fs-6 text-dark">HO</span>
      </div>
    </div>
  </div>
</div>

<!--Adresa prebivalištva/alternativna adresa-->

<div class="card mb-5 mb-xl-10">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Adresa prebivalištva/alternativna adresa</h3>
    </div>
  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Država</label>
        <span class="fw-bolder fs-6 text-dark">Hrvatska</span>
      </div>
      <div class="col-6">
        <label class="col-3  fw-bold text-muted">Grad</label>
        <span class="fw-bolder fs-6 text-dark">Makarska</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">PTT broj</label>
        <span class="fw-bolder fs-6 text-dark">23002</span>
      </div>
      <div class="col-6">
        <label class="col-3  fw-bold text-muted">Županije/Kanton</label>
        <span class="fw-bolder fs-6 text-dark">7</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Ulica</label>
        <span class="fw-bolder fs-6 text-dark">Požare</span>
      </div>
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Broj</label>
        <span class="fw-bolder fs-6 text-dark">22</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Opis lokacije</label>
        <span class="fw-bolder fs-6 text-dark">Narančasta kuća , veliko brdo</span>
      </div>
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Dostavljena potvrda adrese</label>
        <span class="fw-bolder fs-6 text-dark">DA</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">OPU potvdre</label>
        <span class="fw-bolder fs-6 text-dark">HO</span>
      </div>
    </div>
  </div>
</div>

<!--<span class="badge badge-success">Verified</span>-->

<div class="card mb-5 mb-xl-10">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Kontakt podaci</h3>
    </div>
  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Fiksni telefon</label>
        <span class="fw-bolder fs-6 text-dark">00 8823 87244 </span>
      </div>
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Mobitel</label>
        <span class="fw-bolder fs-6 text-dark">00387 63 676 666</span>
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">Ima e-mail</label>
        <span class="fw-bolder fs-6 text-dark">Da</span>
      </div>
      <div class="col-6">
        <label class="col-3 fw-bold text-muted">E-mail</label>
        <span class="fw-bolder fs-6 text-dark" style="padding-right: 5px">aloncar@mail.com</span>
        <span class="badge badge-success">Verified</span>
      </div>
    </div>



  </div>
</div>
